@import 'node_modules/typeface-roboto-mono/index.css';

body {
    background-color: whitesmoke;
    margin: 0;
}

br {
    user-select: none;
}

div {
    user-select: none;
}

span {
    user-select: none;
}

.binary-table-header-row {
    background-color: powderblue;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-color: lightsteelblue;
    display: inline-block;
    height: 24px;
    width: 100%;
}

.binary-table-footer-row {
    background-color: powderblue;
    border-color: lightsteelblue;
    border-top: 1px;
    border-top-style: solid;
    bottom: 0px;
    display: inline-block;
    height: 24px;
    position: fixed;
    width: 100%;
}

.binary-table-data-header-row {
    display: inline-block;
    height: 24px;
}

.binary-table-data-header-row li {
    display: inline-block;
    font-family: Roboto Mono, monospace;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    width: 32px;
}

.binary-table-address {
    display: inline-block;
    font-family: Roboto Mono, monospace;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    margin-left: 16px;
    margin-right: 6px;
    text-align: right;
}

.binary-table-cell {
    display: inline-block;
    font-family: Roboto Mono, monospace;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    width: 32px;
}

.binary-table-data-cell-focused {
    border: 2px;
    border-color: silver;
    border-style: solid;
    display: inline-block;
    font-family: Roboto Mono, monospace;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    outline: 0;
    text-align: center;
    width: 28px;
}

.binary-table-data-cell-selected {
    background-color: silver;
    display: inline-block;
    font-family: Roboto Mono, monospace;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
    outline: 0;
    text-align: center;
    width: 32px;
}
