@import '../node_modules/typeface-roboto-mono/index.css';

body {
    background-color: whitesmoke;
    margin: 0;
}

br {
    user-select: none;
}

div {
    user-select: none;
}

span {
    user-select: none;
}
