@import '../node_modules/typeface-roboto-mono/index.css';

body {
    background-color: whitesmoke;
    margin: 0;
}

br {
    user-select: none;
}

div {
    user-select: none;
}

span {
    user-select: none;
}

.binary-table-header-row {
    background-color: powderblue;
    border-bottom: 1px;
    border-bottom-color: lightsteelblue;
    border-bottom-style: solid;
    display: inline-block;
    width: 100%;
}

.binary-table-footer-row {
    background-color: powderblue;
    border-top: 1px;
    border-top-color: lightsteelblue;
    border-top-style: solid;
    bottom: 0px;
    display: inline-block;
    height: 24px;
    position: fixed;
    width: 100%;
}
